{% extends 'maintemplate.html' %}

{% block body %}
<head>
    <title>Checklist</title>
</head>
<body>
    <div class="container">
    <b>Use this page to check to see if you have all the items you will need on the first couple of weeks at Edinburgh Napier University</b1>
    </div>
        <div class="container">
            <div class="row">
                <span class="border border-danger">
                    <div class="col-sm">
                        <h1>Items you need to get</h1>
                    </div>
                </span>
                <div class="col-sm">
                                       
                    </div>
                <span class="border border-success">
                    <div class="col-sm">
                    <h1>Items you have.</h1>
                    </div>
                </span>
            </div>
          </div>
</body>
{% endblock %}